body {
    display: flex;
    justify-content: center;
}
.container {
    position: relative;
    right: 0px;
    display: flex;
    transition: right 2.5s;
}

.frame {
    border: 1px solid black;
    overflow: hidden;
    position: absolute;
}

.slide {
    font-size: 80px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgba(250, 235, 215, 0.199);
}

.right-arrow {
    position: absolute;
    top: 50%;
    border: 2px solid black;
    right: 0;
    width: 100px;
    height: 100px;
    transform: translateY(-50%);
}

.left-arrow {
    position: absolute;
    top: 50%;
    border: 2px solid black;
    left: 0;
    width: 100px;
    height: 100px;
    transform: translateY(-50%);
}

.dots-container {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    z-index: 999;
    gap: 10px;
    margin-bottom: 10px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: silver;
    border-radius: 50%;
    cursor: pointer;
}

.current {
    background-color: black;
}